POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=org_structure
POSTGRES_PORT=5432

API_PORT=8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/org_structure
LOG_LEVEL=INFO
DEBUG=False
